@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  width: 100vw;
  min-height: 100vh;
  background-color: #202020;
  font-family: "Inter", "Arial", sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  color: white;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.validate-error {
  color: #ee3465;
  font-size: 11px;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 10px;
}